
.wrap.bg-image
  {
  background-image:url('/bg_pattern.svg');
  background-repeat:no-repeat;
  background-size:100%;
  }

  .page-footer.bg-image {
    background-image: url('/world_pattern.svg');
    background-repeat:no-repeat;
    background-size:100%;
  }