{% extends 'layout/dashboard.html' %} 
{% load static %} 
{% block dashboard %}
<!-- Content -->

<div class="content-wrapper">
	{% if not allowance %}
	<div class="container row">
		<div class="col-12">
			<div class="alert alert-danger alert-dismissible" role="alert">
				<div class="alert-heading fw-bold mb-1">Upgrade Account</div>
				<p class="mb-0">You have maxed out your word allowance for the month, upgrade your subscription <a href="{% url 'billing' %}" class="fw-bold">here</a></p>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="container-xxl flex-grow-1 container-p-y">
		<h1
			>Welcome to
			<a href="#">AI. <span class="text-primary">Content</span></a>
			Dashboard 😁</h1
		>

		<div class="row">

			<div class="col col-lg-8">
				<div class=" mb-4 order-0">
					<div class="card">
						<div class="d-flex align-items-end row">
							<div class="col-sm-7">
								<div class="card-body">
									<h5 class="card-title text-primary"
										>Congratulations {{ user.first_name }}! 🎉</h5
									>
									<p class="mb-4">
										You have written
										<span class="fw-bold">{{ numBlogs }}</span> Blog{% if numBlogs > 1 %}s{% endif %}, Your word count for the month is {{ monthCount }} words. Your count will reset on {{ countReset }}
									</p>
	
									<a
										href="{% url 'blog-topic' %}"
										class="btn btn-sm btn-outline-primary"
										>Write a New Blog</a
									>
								</div>
							</div>
							<div class="col-sm-5 text-center text-sm-left">
								<div class="card-body pb-0 px-0 px-md-4">
									<img
										src="{% static 'main/img/illustrations/man-with-laptop-light.png' %}"
										height="140"
										alt="View Badge User"
										data-app-dark-img="illustrations/man-with-laptop-dark.png"
										data-app-light-img="illustrations/man-with-laptop-light.png"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				{% if completedBlogs|length > 0 %}
				<div class="card col-lg-12 mb-4">
					<h5 class="card-header">Completed Blogs</h5>
					<div class="table-responsive text-nowrap">
					  <table class="table">
						<thead>
						  <tr>
							<th>Blog Title</th>
							<th>Audience</th>
							<th>Keywords</th>
							<th>Word Count</th>
							<th>Actions</th>
						  </tr>
						</thead>
						<tbody class="table-border-bottom-0">
							{% for blog in completedBlogs %}

						  <tr>
							<td>
								<h5><strong>{{ blog.blogIdea }}</strong></h5>
								{{ blog.title }}
							</td>
							
							<td>
							  <strong>{{ blog.audience }}</strong>
							</td>
							<td>
								<span class="badge bg-label-primary me-1">{{ blog.keywords }}</span>
							</td>
							<td>
								<span class="badge bg-label-primary me-1">{{ blog.wordCount }}</span>
							</td>
							<td>
							  <div class="dropdown">
								<button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
								  <i class="bx bx-dots-vertical-rounded"></i>
								</button>
								<div class="dropdown-menu">
								  <a class="dropdown-item" href="{% url 'view-generated-blog' blog.slug %}"><i class='bx bx-show'></i> View Blog</a>
								  <a class="dropdown-item" href="{% url 'delete-topic' blog.uniqueId %}"><i class="bx bx-trash me-1"></i> Delete</a>
								</div>
							  </div>
							</td>
						  </tr>
						  {% endfor %}
						</tbody>
					  </table>
					</div>
				</div>
				{% endif %}

			</div>

			{% if emptyBlogs|length > 0 %}
			<div class="col-lg-4">
				<div class="card h-100">
					<div class="card-header d-flex align-items-center justify-content-between">
					  <h5 class="card-title m-0 me-2">Saved Blog Topics</h5>
					  <div class="dropdown">
						<button class="btn p-0" type="button" id="transactionID" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  <i class="bx bx-dots-vertical-rounded"></i>
						</button>
						<div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
						  <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
						  <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
						  <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
						</div>
					  </div>
					</div>
					<div class="card-body">
					  <ul class="p-0 m-0">
	
						{% for blog in emptyBlogs %}
						<li class="d-flex mb-4 pb-1">
						  <!-- <div class="avatar flex-shrink-0 me-3">
							<img src="{% static 'main/img/icons/unicons/paypal.png' %}" alt="User" class="rounded">
						  </div> -->
						  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
							<div class="me-2">
							  <small class="text-muted d-block mb-1">{{ blog.blogIdea }}</small>
							  <h6 class="mb-0"><a href="{% url 'generate-blog-from-topic' blog.uniqueId %}">{{ blog.title }}</a></h6>
							</div>
							<div class="user-progress d-flex align-items-center gap-3">
							  <!-- <h6 class="mb-0">+{{ blog.wordCount }}</h6>
							  <span class="text-muted">words</span> -->
							  <a href="{% url 'delete-topic' blog.uniqueId %}" class="btn btn-danger">Delete</a>
							</div>
						  </div>
						</li>
	
						{% endfor %}
					  </ul>
					</div>
				  </div>
			</div>
			{% endif %}

		</div>
	</div>
</div>

<!-- / Content -->
{% endblock %}

